NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
NEXT_PUBLIC_THIRDWEB_SECRET_KEY=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_FUN_QUIZ_CONTRACT_ADDRESS=0x8A9Ec2DC6E97208ca3930CcaA01021595Fa07410
NEXT_PUBLIC_OWNER_WALLETS=

# Database Utama
MONGODB_URI=
MONGODB_DB_NAME=somniaquiz

# Database Cadangan (Fallback)
MONGODB_URI_FALLBACK=
MONGODB_DB_NAME_FALLBACK=somniaquiz